@media screen and (min-width:768px)
	#content
		#note
			float right
			font-size 1em
			height auto
			width 20%
		#note:hover
			height auto
		.item
			display inline-block
			vertical-align top
			width 30% 

			.title_item a
				font-size 0.9em
				font-weight normal

@media screen and (min-width:1280px)
	#content
		.item
			width 20%
		
